@{
    ViewData["Title"] = "Enrique Rejón";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a mi sitio</h1>
    <p>Aprende acerca de <a href="https://google.com.mx">Github e integracón continua.</a>.</p>
</div>
